@media (max-width: 600px){
    .habr{
        width: 100%;
        height: 2%;
    }
    .hbar ul li{
        margin-left: 10%;
        padding: 10%;
    }
    .hbar-icons{
        margin-left: 12%;
    }

}