.latest_collections-div{
    width: 100%;
}
.my_latest_collection{
    min-width: 245px;
    max-width: 245px;
    height:300px;
    background-image:url(/public/images/gallery-03.jpg);
    background-size: cover;
    margin: 0px 15px;
    color:white;
}
.latest_collection-div{
    padding:20px;
    text-align: center;
}

.lc-details{
    /* margin: 0px 8px; */
    background-color: #353530;
    height: 80px;
    width: 245px;
    margin: 0px 15px;
}
.lc-details1{
    padding: 4% 8%;
}
.lc-name{
    font-size: 20px;
}
.lc-price{
    color:#fcd462;
    padding-top: 10px;
}