.bill_container{
    /* background-color: rgb(240, 184, 184); */
    width: 100%;
}
.bill_container h2{
    font-family: "Prata", sans-serif;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
}
::placeholder{
    color: #fff;
}